<section class="top-page">
    <header class="header">
        <img src="images/logo.png" alt="Logo du site">
        <nav class="nav">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="#bests-items">Nos meilleurs ventes</a></li>
            <li><a href="#all-plants">Nos plantes</a></li>
        </nav>
    </header>
    <div class="landing-page">
        <h1 class="big-title">Nature Emoi, meilleur que le chocolat.</h1>
        <a class="scroll-down" href="#services">Scroll <i class="fas fa-angle-down"></i></a>
    </div>
    
</section>