<section class="top-page">
    <header class="header">
        <img src="../assets/logo.png" alt="Logo du site">
        <nav class="nav">
            <li><a href="index.html">home</a></li>
            <li><a href="#bests-items">about</a></li>
            <li><a href="#all-plants">service</a></li>
            <li><a href="#all-plants">projet</a></li>
            <li><a href="#all-plants">cantact</a></li>
        </nav>
    </header>
    <div class="landing-page">
        <h4 class="big-title">
            Spécialiste de l'isolation, placo plâtre, enduit de plâtre et plafond démontable</h4>
        <a class="scroll-down" href="#services">Scroll <i class="fas fa-angle-down"></i></a>
    </div>
    
</section>


<section class="services" id="services">
    <div class="service-item">
        <i class="fas fa-store delivery-icon"></i>
        <p class="service-details">Nos magasins à votre service</p>
    </div>
    <div class="service-item">
        <i class="fas fa-people-carry delivery-icon"></i>
        <p class="service-details">Projets de rénovationt</p>
    </div>
    <div class="service-item">
        <i class="fas fa-truck delivery-icon"></i>
        <p class="service-details">Décoration & Agencement</p>
    </div>
</section> 